# Arquivos De Build
node_modules
.sequelizerc
tsconfig.json
.eslintrc.json
.github

# Arquivos feito pela biblioteca do Typescript
dist

# Arquivos feito pela biblioteca do Sequelize
index.ts
models
migrations
